.navbar {
  min-height: 12.2rem;
  padding: 4rem 7.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem 3.2rem;
}

.app-logo {
  min-width: 50px;
  height: 42px;
  background: transparent url("../images/logo.svg") no-repeat;
  background-position: center;
}

.anchors-wrapper {
  display: flex;
  gap: 3.2rem;
}

.navbar-anchor {
  color: var(--gray-400);
  font-weight: 500;
  text-decoration: none;
}

.navbar-anchor:active,
.navbar-anchor:hover,
.navbar-anchor:focus {
  color: var(--white);
  font-weight: 700;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar-anchor::before {
  display: block;
  content: attr(title);
  font-weight: 700;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.dropdown-icon {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 4rem;
    position: relative;
  }

  .dropdown-icon {
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 3;
  }

  .dropdown-icon .bar1,
  .dropdown-icon .bar2,
  .dropdown-icon .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--white);
    margin: 6px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .dropdown-icon[data-icon-state="icon-on"] .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  .dropdown-icon[data-icon-state="icon-on"] .bar2 {
    opacity: 0;
  }

  .dropdown-icon[data-icon-state="icon-on"] .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  .dropdown-menu[data-visibility="hidden"] {
    display: none;
  }

  .dropdown-menu[data-visibility="visible"] {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    padding: 12px 16px;
    background: var(--matte-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    z-index: 2;
  }

  .dropdown-menu .navbar-anchor {
    width: 100%;
    display: grid;
    place-items: center;
  }

  .dropdown-menu .navbar-anchor:hover {
    background-color: var(--blue);
  }
}
