* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-01: #d6d6f2;
  --gray-02: #e2e2f5;
  --purple: #bf7bfb;
  --blue-light: #212187;
  --blue: #151557;

  font-size: clamp(40%, 1% + 2vw, 62.5%);
}

body {
  background-image: url("./images/background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  display: grid;
  place-items: center;
}

#page-wrapper {
  width: 100%;
  padding: 0 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem 24.2rem;
}

#info-wrapper {
  color: var(--gray-01);
  max-width: 38rem;
}

#info-wrapper h1 {
  font-size: 4rem;
  font-weight: bolder;
  line-height: 120%;
  margin-bottom: 2.4rem;
}

#info-wrapper p {
  font-size: 2rem;
  line-height: 140%;
  margin-bottom: 5.6rem;
}

#btns-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 1.6rem;
}

#btns-wrapper button {
  color: var(--gray-02);
  font-size: 1.4rem;
  line-height: 140%;
  text-transform: uppercase;
  background: var(--blue);
  border: none;
  border-radius: 999px;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
}

#btns-wrapper button:hover {
  background: var(--blue-light);
  transition: 0.4s;
}

#btns-wrapper button:focus {
  outline: 2.5px solid var(--purple);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#image-404-wrapper {
  display: flex;
  align-items: center;
}

.number-4 {
  width: 8rem;
}

.planet {
  width: 23rem;
}

@media (max-width: 1332px) {
  #btns-wrapper {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  #page-wrapper {
    padding: 2rem 2rem;
    align-items: flex-start;
  }

  #info-wrapper p {
    margin-bottom: 3rem;
  }

  #image-404-wrapper .number-4 {
    width: 6rem;
  }

  #image-404-wrapper .planet {
    width: 18rem;
  }
}

@media (max-width: 375px) {
  #image-404-wrapper .number-4 {
    width: 4rem;
  }

  #image-404-wrapper .planet {
    width: 15rem;
  }
}
